
@{
    ViewBag.Title = "Index";
}

<h2>Employee Login</h2>

<h3>Please enter your credentials to proceed:</h3>

<form action="EmployeeArea.cshtml" method="post">
Username: <input type="text" />
Password: <input type="password" /> 
<input type="submit" value="Login" />

</form>