
@{
    ViewBag.Title = "Index";
}

<h2>Produce</h2>

<div class="container">
    <div class="col-sm-2">
        <h2>Vegetables:</h2>
        <ul id="beef">
            <li>    </li>
            <li>	(small thick round cut from a beef fillet)	</li>
            <li>	Beef roast	</li>
            <li>	Beef tenderloin (Filet)	</li>
            <li>	Beef tournedos 	</li>
            <li>	Flank steak (Bavette)	</li>
            <li>	New York strip steak	</li>
            <li>	Pepper steak	</li>
            <li>	Ribeye steak	</li>
            <li>	Sirloin steak	</li>
            <li>	T-Bone steak	</li>
        </ul>

        <ul id="pork">
            <li>	Pork tenderloin	</li>
            <li>	Pork chops	</li>
            <li>	Boneless pork chops	</li>
            <li>	Smoked pork chops	</li>
            <li>	Pork roast	</li>
            <li>	Pork cubes	</li>
            <li>	Pork ribs	</li>
            <li>	Ready-made pork kebab	</li>
            <li>	Pork fondue	</li>
            <li>	Pork tournedos	</li>
            <li>	Ground pork	</li>
            <li>	Lumberjack pork patties (6 oz)	</li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="veal">
            <li>	Veal cutlets	</li>
            <li>	Breaded veal cutlets, italian-style	</li>
            <li>	Ossobucco	</li>
            <li>	Veal Chops	</li>
            <li>	Ground veal	</li>
            <li>	Veal liver	</li>
            <li>	Veal kidney	</li>
            <li>	Veal chops	</li>
            <li>	Veal cubes	</li>
            <li>	Veal roast	</li>
            <li>	Veal bones	</li>
        </ul>
        <ul id="lamb">
            <li>	Ground lamb	</li>
            <li>	Lamb chops (Côtelette d’agneau)	</li>
            <li>	Lamb cubes	</li>
            <li>	Lamb leg roast	</li>
            <li>	Lamb leg roast boneless	</li>
            <li>	Lamb shank	</li>
            <li>	Lamb shoulder roast	</li>
            <li>	Lamb shoulder roast boneless	</li>
            <li>	Rack of lamb  (Carré d’agneau)	</li>
        </ul>
        <ul id="chicken">
            <li>	Whole chicken	</li>
            <li>	Chicken breast (boneless)	</li>
            <li>	Breaded chicken breast, italian-style	</li>
            <li>	Chicken legs	</li>
            <li>	Chicken thighs	</li>
            <li>	Chicken drumsticks	</li>
            <li>	Chicken wings	</li>
            <li>	Chicken liver	</li>
            <li>	Ready-made chicken kebabs	</li>
            <li>	Smoked chicken legs	</li>
            <li>	Chicken tournedos	</li>
            <li>	Roasted chicken	</li>
            <li>	Chicken fondue	</li>
            <li>	Ground chicken	</li>
            <li>	Ground chicken seasoned patties (6 oz)	</li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="seafood">
            <li>	Tuna, Sushi grade 1	</li>
            <li>	Grouper	</li>
            <li>	Mahi-mahi	</li>
            <li>	Red snapper	</li>
            <li>	Ready-made fish kebabs	</li>
            <li>	Lobster tail	</li>
            <li>	Smoked salmon	</li>
            <li>	Hot smoked tuna	</li>
            <li>	Cold smoked tuna	</li>
            <li>	Smoked swordfish	</li>
            <li>	Lion fish	</li>
            <li>	Barracuda	</li>
            <li>	Couvalee	</li>
            <li>	Swordfish	</li>
            <li>	Lambi	</li>
            <li>	Shrimps	</li>
            <li>	Scallops	</li>
            <li>	Barracuda steak	</li>
        </ul>
        <ul id="coldcuts">
            <li>	(spicy smoked ham)	</li>
            <li>	Back bacon	</li>
            <li>	Bacon	</li>
            <li>	Black Forest ham	</li>
            <li>	Bologne	</li>
            <li>	Capicollo (coppa)	</li>
            <li>	Cooked ham	</li>
            <li>	Cooked roast pork	</li>
            <li>	Dry beef	</li>
            <li>	Mock chicken	</li>
            <li>	Montreal-style smoked meat	</li>
            <li>	Mortadella	</li>
            <li>	Pancheta	</li>
            <li>	Pastrami	</li>
            <li>	Pepperoni	</li>
            <li>	Roast beef	</li>
            <li>	Roast chicken	</li>
            <li>	Salami	</li>
            <li>	Smoked ham	</li>
            <li>	Smoked salami	</li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="sausage">
            <li>	Beef hot-dog	</li>
            <li>	Capriciosa	</li>
            <li>	Chicken	</li>
            <li>	Chicken farmer [breakfast]	</li>
            <li>	Chicken hot-dog	</li>
            <li>	Chipolata	</li>
            <li>	Chorizo	</li>
            <li>	Dry chorizo	</li>
            <li>	Dry salami	</li>
            <li>	Farmer’s [for breakfast]	</li>
            <li>	Fine herbs	</li>
            <li>	Ham & Cheese	</li>
            <li>	Italian mild	</li>
            <li>	Italian spicy	</li>
            <li>	Kielbasa	</li>
            <li>	Knackwurst	</li>
            <li>	Merguez	</li>
            <li>	October Fest	</li>
            <li>	Peperette	</li>
            <li>	Toulouse	</li>
            <li>	Veal & Cheese	</li>
            <li>	Weisswurst (White sausage)	</li>
            <li>	Whisper Cove	</li>
        </ul>
    </div>

    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="pates">
            <li>	Pâtés (pork spread)	</li>
            <li>	(Rillettes, Fine herbs liver pâté, Green pepper liver pâté, Garlic liver pâté, Cognac liver pâté, Campagne, Campagne 3 peppers pâté)	</li>
            <li>	Cretons	</li>
            <li>	(Quebec pork spread with a special blend of spices)	</li>
            <li>	Meat pie (8″ – 20.3 cm)	</li>
            <li>	Ham quiche (8″ – 20.3 cm)	</li>
            <li>	Ham quiche (slice)	</li>
            <li>	Vegetarian quiche (8″ – 20.3 cm)	</li>
            <li>	Vegetarian quiche (slice)	</li>
        </ul>
        <ul id="cheese">
            <li>	Blue Cheese	</li>
            <li>	Champignon	</li>
            <li>	Cheddar	</li>
            <li>	Combozola	</li>
            <li>	Edam	</li>
            <li>	Epoisse	</li>
            <li>	Feta (natural)	</li>
            <li>	Feta mix with peppercorn, herbs, oil	</li>
            <li>	Mirabo	</li>
            <li>	Monster	</li>
            <li>	Mozarella	</li>
            <li>	Parmesan	</li>
            <li>	Pepperjack	</li>
            <li>	Provolone	</li>
            <li>	Rougette	</li>
            <li>	Smoked Cheddar	</li>
            <li>	Smoked Provolone	</li>
            <li>	Swiss	</li>
        </ul>
    </div>

    <div class="col-sm-2">
        <!--Spacer area.sadsa-->
    </div>

</div>