

<h2>Bakery</h2>

<main class="container">
    <section class="row">
        <div class="col-sm-4">
            <a href="~/Product/BakeryCategories"><img src="~/Content/img/loaves.jpg" width="300" height="235" /></a>
            <p>Loaves</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/BakeryCategories"><img src="~/Content/img/muffins.jpg" width="300" height="235" /></a>
            <p>Muffins</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/BakeryCategories"><img src="~/Content/img/desserts.jpg" width="300" height="235" /></a>
            <p>Desserts</p>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-4">
            <a href="~/Product/BakeryCategories"><img src="~/Content/img/sandwiches.jpg" width="300" height="235" /></a>
            <p>Sandwiches</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/BakeryCategories"><img src="~/Content/img/basicsbakery.jpg" width="300" height="235" /></a>
            <p>Baking Products</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/BakeryCategories"><img src="~/Content/img/pies.jpg" width="300" height="235" /></a>
            <p>Pies</p>
        </div>
    </section>
</main>