@{
    ViewBag.Title = "Index";
}

<h2>Bakery Listings</h2>

<div class="container">

    <table class="table">
        <thead class="top_category">
            <tr>
                <th>Item</th>
                <th>Pick Date</th>
                <th>Product Weight</th>
                <th>Added Bulk Offers</th>
                <th>Delivery/Pick-up</th>
                <th>Interact</th>
            </tr>
        </thead>
        <tbody class="listings_category">
            <tr>
                <td>Stoneground 100% whole wheat 1kg x 100 bags of uncut bread.</td>
                <td><input class="form-control" id="bid_input " type="text" /> </td>
                <td>1 tonne</td>
                <td>$75 for additional 100 loaves up to 1000 loaves. $50 for additional loaves after 1000.</td>
                <td>Pick-up: March 17th, 2015</td>
                <td><input type="image" src="http://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"></td>
            </tr>
        </tbody>

</div>