
@{
    ViewBag.Title = "Index";
}

<h2>Produce</h2>

<div class="container">
    <div class="col-sm-2">
        <h2>Vegetables:</h2>
        <ul>
            <li>	Apples	</li>
            <li>	Apricots	</li>
            <li>	Apricots	</li>
            <li>	Apricots, Dried	</li>
            <li>	Asian Pear	</li>
            <li>	Asian Pear	</li>
            <li>	Avocados	</li>
            <li>	Bananas	</li>
            <li>	Barbados Cherries	</li>
            <li>	Barbados Cherries	</li>
            <li>	Barbados Cherries	</li>
            <li>	Bitter Melon	</li>
            <li>	Black Currants	</li>
            <li>	Blackberries	</li>
            <li>	Blueberries	</li>
            <li>	Boysenberries	</li>
            <li>	Breadfruit	</li>
            <li>	Cactus Pear	</li>
            <li>	Cactus Pear	</li>
            <li>	Cantaloupe	</li>
            <li>	Cape Gooseberries	</li>
            <li>	Casaba Melon	</li>
            <li>	Champagne Grapes	</li>
            <li>	Cherimoya	</li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li>	Cherimoya	</li>
            <li>	Cherries	</li>
            <li>	Cherries, Sour	</li>
            <li>	Clementines	</li>
            <li>	Coconut	</li>
            <li>	Crab Apples	</li>
            <li>	Cranberries	</li>
            <li>	Cranberries, Dried	</li>
            <li>	Crenshaw Melon	</li>
            <li>	Dates	</li>
            <li>	Durian	</li>
            <li>	Elderberries	</li>
            <li>	Feijoa	</li>
            <li>	Figs	</li>
            <li>	Grapefruit	</li>
            <li>	Grapefruit	</li>
            <li>	Grapes	</li>
            <li>	Grapes	</li>
            <li>	Guava	</li>
            <li>	Honeydew	</li>
            <li>	Honeydew Melons	</li>
            <li>	Huckleberries	</li>
            <li>	Jackfruit	</li>
            <li>	Jackfruit	</li>
            <li>	Jujube	</li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li>	Key Limes	</li>
            <li>	Key Limes	</li>
            <li>	Kiwano	</li>
            <li>	Kiwifruit	</li>
            <li>	Kumquats	</li>
            <li>	Lemons	</li>
            <li>	Limes	</li>
            <li>	Limes	</li>
            <li>	Loganberries	</li>
            <li>	Longan	</li>
            <li>	Loquat	</li>
            <li>	Lychee	</li>
            <li>	Lychee	</li>
            <li>	Mango	</li>
            <li>	Mulberries	</li>
            <li>	Muscadine Grapes	</li>
            <li>	Mushrooms	</li>
            <li>	Nectarines	</li>
            <li>	Olallieberries	</li>
            <li>	Oranges	</li>
            <li>	Oranges 	</li>
            <li>	Papayas	</li>
            <li>	Passion Fruit	</li>
            <li>	Passion Fruit	</li>
            <li>	Passion Fruit	</li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li>	Peaches	</li>
            <li>	Pear	</li>
            <li>	Pear	</li>
            <li>	Persian Melon	</li>
            <li>	Persimmons	</li>
            <li>	Persimmons	</li>
            <li>	Pineapple	</li>
            <li>	Pineapple 	</li>
            <li>	Plums	</li>
            <li>	Pomegranate	</li>
            <li>	Pummelo	</li>
            <li>	Quince	</li>
            <li>	Raspberries	</li>
            <li>	Red Banana	</li>
            <li>	Red Currants	</li>
            <li>	Sapodillas	</li>
            <li>	Sapote	</li>
            <li>	Sapote	</li>
            <li>	Sharon Fruit	</li>
            <li>	Sharon Fruit	</li>
            <li>	Strawberries	</li>
            <li>	Strawberries	</li>
            <li>	Sugar Apple	</li>
            <li>	Sugar Apple	</li>
            <li>	Tangerines	</li>
        </ul>
    </div>

    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li>	Watermelon	</li>
        </ul>
    </div>

    <div class="col-sm-2">
        <!--Spacer area.sadsa-->
    </div>
</div>