
@{
    ViewBag.Title = "Index";
}

<h2>Grocery Products</h2>

<div class="container">
    <div class="col-sm-2">
        <ul>
            <li><a href="~/Product/GroceryListing"> Acorn Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Amaranth	</a></li>
            <li><a href="~/Product/GroceryListing">	Arrowroot	</a></li>
            <li><a href="~/Product/GroceryListing">	Artichokes 	</a></li>
            <li><a href="~/Product/GroceryListing">	Asparagus 	</a></li>
            <li><a href="~/Product/GroceryListing">	Banana Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Beets	</a></li>
            <li><a href="~/Product/GroceryListing">	Belgian Endive	</a></li>
            <li><a href="~/Product/GroceryListing">	Belgian Endive	</a></li>
            <li><a href="~/Product/GroceryListing">	Belgian Endive 	</a></li>
            <li><a href="~/Product/GroceryListing">	Bell Peppers	</a></li>
            <li><a href="~/Product/GroceryListing">	Bell Peppers	</a></li>
            <li><a href="~/Product/GroceryListing">	Black Eyed Peas	</a></li>
            <li><a href="~/Product/GroceryListing">	Black Radish	</a></li>
            <li><a href="~/Product/GroceryListing">	Black Salsify	</a></li>
            <li><a href="~/Product/GroceryListing">	Bok Choy	</a></li>
            <li><a href="~/Product/GroceryListing">	Broccoflower	</a></li>
            <li><a href="~/Product/GroceryListing">	Broccoli	</a></li>
            <li><a href="~/Product/GroceryListing">	Broccoli	</a></li>
            <li><a href="~/Product/GroceryListing">	Broccolini	</a></li>
            <li><a href="~/Product/GroceryListing">	Brussels Sprouts	</a></li>
            <li><a href="~/Product/GroceryListing">	Brussels Sprouts	</a></li>
            <li><a href="~/Product/GroceryListing">	Burdock Root	</a></li>
            <li><a href="~/Product/GroceryListing">	Butter Lettuce	</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li><a href="~/Product/GroceryListing">	Butter Lettuce	</a></li>
            <li><a href="~/Product/GroceryListing">	Butter Lettuce	</a></li>
            <li><a href="~/Product/GroceryListing">	Buttercup Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Buttercup Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Butternut Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Cabbage	</a></li>
            <li><a href="~/Product/GroceryListing">	Cactus	</a></li>
            <li><a href="~/Product/GroceryListing">	Carrots	</a></li>
            <li><a href="~/Product/GroceryListing">	Cauliflower	</a></li>
            <li><a href="~/Product/GroceryListing">	Celeriac (Celery Root)	</a></li>
            <li><a href="~/Product/GroceryListing">	Celery	</a></li>
            <li><a href="~/Product/GroceryListing">	Chayote Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Chayote Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Chayote Squash 	</a></li>
            <li><a href="~/Product/GroceryListing">	Cherry Tomatoes	</a></li>
            <li><a href="~/Product/GroceryListing">	Chinese Eggplants	</a></li>
            <li><a href="~/Product/GroceryListing">	Chinese Long Beans	</a></li>
            <li><a href="~/Product/GroceryListing">	Chinese Long Beans	</a></li>
            <li><a href="~/Product/GroceryListing">	Chives	</a></li>
            <li><a href="~/Product/GroceryListing">	Collard Greens	</a></li>
            <li><a href="~/Product/GroceryListing">	Collard Greens	</a></li>
            <li><a href="~/Product/GroceryListing">	Corn	</a></li>
            <li><a href="~/Product/GroceryListing">	Corn	</a></li>
            <li><a href="~/Product/GroceryListing">	Crookneck Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Cucumbers	</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li><a href="~/Product/GroceryListing">	Delicata Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Delicata Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Diakon Radish	</a></li>
            <li><a href="~/Product/GroceryListing">	Eggplant	</a></li>
            <li><a href="~/Product/GroceryListing">	Endive	</a></li>
            <li><a href="~/Product/GroceryListing">	Endive	</a></li>
            <li><a href="~/Product/GroceryListing">	Fava Beans	</a></li>
            <li><a href="~/Product/GroceryListing">	Fennel	</a></li>
            <li><a href="~/Product/GroceryListing">	Fiddlehead Ferns	</a></li>
            <li><a href="~/Product/GroceryListing">	Galangal Root	</a></li>
            <li><a href="~/Product/GroceryListing">	Garlic	</a></li>
            <li><a href="~/Product/GroceryListing">	Garlic	</a></li>
            <li><a href="~/Product/GroceryListing">	Ginger	</a></li>
            <li><a href="~/Product/GroceryListing">	Green Beans	</a></li>
            <li><a href="~/Product/GroceryListing">	Green Beans	</a></li>
            <li><a href="~/Product/GroceryListing">	Green Soybeans (Edamame)	</a></li>
            <li><a href="~/Product/GroceryListing">	Jalapeno Peppers	</a></li>
            <li><a href="~/Product/GroceryListing">	Jalapeno Peppers	</a></li>
            <li><a href="~/Product/GroceryListing">	Jerusalem Artichoke	</a></li>
            <li><a href="~/Product/GroceryListing">	Kale	</a></li>
            <li><a href="~/Product/GroceryListing">	Kohlrabi	</a></li>
            <li><a href="~/Product/GroceryListing">	Leek	</a></li>
            <li><a href="~/Product/GroceryListing">	Leeks	</a></li>
            <li><a href="~/Product/GroceryListing">	Lettuce	</a></li>
            <li><a href="~/Product/GroceryListing">	Lima Beans	</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li><a href="~/Product/GroceryListing">	Manoa Lettuce	</a></li>
            <li><a href="~/Product/GroceryListing">	Manoa Lettuce	</a></li>
            <li><a href="~/Product/GroceryListing">	Morel Mushrooms	</a></li>
            <li><a href="~/Product/GroceryListing">	Mushrooms	</a></li>
            <li><a href="~/Product/GroceryListing">	Mustard Greens	</a></li>
            <li><a href="~/Product/GroceryListing">	Okra	</a></li>
            <li><a href="~/Product/GroceryListing">	Olives	</a></li>
            <li><a href="~/Product/GroceryListing">	Onions	</a></li>
            <li><a href="~/Product/GroceryListing">	Parsnips	</a></li>
            <li><a href="~/Product/GroceryListing">	Pea Pods	</a></li>
            <li><a href="~/Product/GroceryListing">	Pearl Onions	</a></li>
            <li><a href="~/Product/GroceryListing">	Peas	</a></li>
            <li><a href="~/Product/GroceryListing">	Peas	</a></li>
            <li><a href="~/Product/GroceryListing">	Potatoes	</a></li>
            <li><a href="~/Product/GroceryListing">	Pumpkin	</a></li>
            <li><a href="~/Product/GroceryListing">	Purple Asparagus	</a></li>
            <li><a href="~/Product/GroceryListing">	Radicchio	</a></li>
            <li><a href="~/Product/GroceryListing">	Radicchio	</a></li>
            <li><a href="~/Product/GroceryListing">	Radishes	</a></li>
            <li><a href="~/Product/GroceryListing">	Ramps	</a></li>
            <li><a href="~/Product/GroceryListing">	Red Leaf Lettuce	</a></li>
            <li><a href="~/Product/GroceryListing">	Rhubarb 	</a></li>
            <li><a href="~/Product/GroceryListing">	Rutabagas	</a></li>
            <li><a href="~/Product/GroceryListing">	Salad Savoy	</a></li>
            <li><a href="~/Product/GroceryListing">	Shallots	</a></li>
        </ul>
    </div>

    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li><a href="~/Product/GroceryListing">	Snow Peas	</a></li>
            <li><a href="~/Product/GroceryListing">	Snow Peas	</a></li>
            <li><a href="~/Product/GroceryListing">	Sorrel	</a></li>
            <li><a href="~/Product/GroceryListing">	Spinach	</a></li>
            <li><a href="~/Product/GroceryListing">	Spring Baby Lettuce	</a></li>
            <li><a href="~/Product/GroceryListing">	Sugar Snap Peas	</a></li>
            <li><a href="~/Product/GroceryListing">	Summer Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Sweet Dumpling Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Sweet Dumpling Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Sweet Potatoes	</a></li>
            <li><a href="~/Product/GroceryListing">	Sweet Potatoes	</a></li>
            <li><a href="~/Product/GroceryListing">	Swiss Chard	</a></li>
            <li><a href="~/Product/GroceryListing">	Swiss Chard	</a></li>
            <li><a href="~/Product/GroceryListing">	Tomatillo	</a></li>
            <li><a href="~/Product/GroceryListing">	Tomatoes	</a></li>
            <li><a href="~/Product/GroceryListing">	Turnips	</a></li>
            <li><a href="~/Product/GroceryListing">	Turnips	</a></li>
            <li><a href="~/Product/GroceryListing">	Vidalia Onions	</a></li>
            <li><a href="~/Product/GroceryListing">	Wasabi Root	</a></li>
            <li><a href="~/Product/GroceryListing">	Watercress	</a></li>
            <li><a href="~/Product/GroceryListing">	Winged Beans	</a></li>
            <li><a href="~/Product/GroceryListing">	Winter Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Winter Squash	</a></li>
            <li><a href="~/Product/GroceryListing">	Yukon Gold Potatoes	</a></li>
            <li><a href="~/Product/GroceryListing">	Zucchini	</a></li>
        </ul>
    </div>

    <div class="col-sm-2">
        <!--Spacer area.sadsa-->
    </div>
</div>