@{
    ViewBag.Title = "Index";
}

<h2>Grocery Listings</h2>

<div class="container"><table class="table">
    <thead class="top_category">
        <tr>
            <th>Item</th>
            <th>Pick Date</th>
            <th>Product Weight</th>
            <th>Added Bulk Offers</th>
            <th>Delivery/Pick-up</th>
            <th>Interact</th>
        </tr>
    </thead>
    <tbody class="listings_category">
        <tr>
            <td>$750. 500 x 500ml assorted james (blackberry, blueberry, raspberry, strawberry). Open to bids.</td>
            <td><input class="form-control" id="bid_input " type="text" /> </td>
            <td>1 tonne</td>
            <td>1000 x 500ml for $1000.</td>
            <td>December 29th, 2015</td>
            <td><input type="image" src="http://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"></td>
        </tr>
    </tbody>
</table>

</div>