
<h2>Grocery</h2>

<main class="container">
    <section class="row">
        <div class="col-sm-4">
            <a href="~/Product/GroceryCategories"><img src="~/Content/img/food-night-alcohol-beer.jpg" width="300" height="235" /></a>
            <p>Alcohol and Snacks</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/GroceryCategories"><img src="~/Content/img/milk.jpg" width="300" height="235" /></a>
            <p>Dairy Products</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/GroceryCategories"><img src="~/Content/img/cereal.jpg" width="300" height="235" /></a>
            <p>Cereals</p>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-4">
            <a href="~/Product/GroceryCategories"><img src="~/Content/img/eggs.jpg" width="300" height="235" /></a>
            <p>Eggs</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/GroceryCategories"><img src="~/Content/img/restaurant-red-beans-coffee.jpg" width="300" height="235" /></a>
            <p>Coffee and Tea</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/GroceryCategories"><img src="~/Content/img/pasta.jpg" width="300" height="235" /></a>
            <p>Staples</p>
        </div>
    </section>

</main>