
@{
    ViewBag.Title = "Meat";
}

<h2>Meat</h2>

<main class="container">
    <section class="row">
        <div class="col-sm-4">
            <a href="~/Product/MeatCategories"><img src="~/Content/img/2698AF98D3.jpg" width="300" height="235" /></a>
            <p>Beef Cuts</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/MeatCategories"><img src="~/Content/img/CFBFE8F090.jpg" width="300" height="235" /></a>
            <p>Chicken uts</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/MeatCategories"><img src="~/Content/img/D54AEFD8E6.jpg" width="300" height="235" /></a>
            <p>Pork Cuts</p>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-4">
            <a href="~/Product/MeatCategories"><img src="~/Content/img/D7F9292D60.jpg" width="300" height="235" /></a>
            <p>Deli Cuts</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/MeatCategories"><img src="~/Content/img/D89ESH3WK7.jpg" width="300" height="235" /></a>
            <p>Prepared Meats</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/MeatCategories"><img src="~/Content/img/HRVOVU93ZA.jpg" width="300" height="235" /></a>
            <p>Aged Cuts of Meat</p>
        </div>
    </section>

</main>