
@{
    ViewBag.Title = "Index";
}

<h2>Meat Products:</h2>

<div class="container">
    <div class="col-sm-2">
        <ul id="beef">
            <li><a href="~/Product/MeatListing">    </a><li>
            <li><a href="~/Product/MeatListing">	(small thick round cut from a beef fillet)	</a><li>
            <li><a href="~/Product/MeatListing">	Beef roast	</a><li>
            <li><a href="~/Product/MeatListing">	Beef tenderloin (Filet)	</a><li>
            <li><a href="~/Product/MeatListing">	Beef tournedos 	</a><li>
            <li><a href="~/Product/MeatListing">	Flank steak (Bavette)	</a><li>
            <li><a href="~/Product/MeatListing">	New York strip steak	</a><li>
            <li><a href="~/Product/MeatListing">	Pepper steak	</a><li>
            <li><a href="~/Product/MeatListing">	Ribeye steak	</a><li>
            <li><a href="~/Product/MeatListing">	Sirloin steak	</a><li>
            <li><a href="~/Product/MeatListing">	T-Bone steak	</a><li>
        </ul>

        <ul id="pork">
            <li><a href="~/Product/MeatListing">	Pork tenderloin	</a><li>
            <li><a href="~/Product/MeatListing">	Pork chops	</a><li>
            <li><a href="~/Product/MeatListing">	Boneless pork chops	</a><li>
            <li><a href="~/Product/MeatListing">	Smoked pork chops	</a><li>
            <li><a href="~/Product/MeatListing">	Pork roast	</a><li>
            <li><a href="~/Product/MeatListing">	Pork cubes	</a><li>
            <li><a href="~/Product/MeatListing">	Pork ribs	</a><li>
            <li><a href="~/Product/MeatListing">	Ready-made pork kebab	</a><li>
            <li><a href="~/Product/MeatListing">	Pork fondue	</a><li>
            <li><a href="~/Product/MeatListing">	Pork tournedos	</a><li>
            <li><a href="~/Product/MeatListing">	Ground pork	</a><li>
            <li><a href="~/Product/MeatListing">	Lumberjack pork patties (6 oz)	</a><li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="veal">
            <li><a href="~/Product/MeatListing">	Veal cutlets	</a><li>
            <li><a href="~/Product/MeatListing">	Breaded veal cutlets, italian-style	</a><li>
            <li><a href="~/Product/MeatListing">	Ossobucco	</a><li>
            <li><a href="~/Product/MeatListing">	Veal Chops	</a><li>
            <li><a href="~/Product/MeatListing">	Ground veal	</a><li>
            <li><a href="~/Product/MeatListing">	Veal liver	</a><li>
            <li><a href="~/Product/MeatListing">	Veal kidney	</a><li>
            <li><a href="~/Product/MeatListing">	Veal chops	</a><li>
            <li><a href="~/Product/MeatListing">	Veal cubes	</a><li>
            <li><a href="~/Product/MeatListing">	Veal roast	</a><li>
            <li><a href="~/Product/MeatListing">	Veal bones	</a><li>
        </ul>
        <ul id="lamb">
            <li><a href="~/Product/MeatListing">	Ground lamb	</a><li>
            <li><a href="~/Product/MeatListing">	Lamb chops (Côtelette d’agneau)	</a><li>
            <li><a href="~/Product/MeatListing">	Lamb cubes	</a><li>
            <li><a href="~/Product/MeatListing">	Lamb leg roast	</a><li>
            <li><a href="~/Product/MeatListing">	Lamb leg roast boneless	</a><li>
            <li><a href="~/Product/MeatListing">	Lamb shank	</a><li>
            <li><a href="~/Product/MeatListing">	Lamb shoulder roast	</a><li>
            <li><a href="~/Product/MeatListing">	Lamb shoulder roast boneless	</a><li>
            <li><a href="~/Product/MeatListing">	Rack of lamb  (Carré d’agneau)	</a><li>
        </ul>
        <ul id="chicken">
            <li><a href="~/Product/MeatListing">	Whole chicken	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken breast (boneless)	</a><li>
            <li><a href="~/Product/MeatListing">	Breaded chicken breast, italian-style	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken legs	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken thighs	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken drumsticks	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken wings	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken liver	</a><li>
            <li><a href="~/Product/MeatListing">	Ready-made chicken kebabs	</a><li>
            <li><a href="~/Product/MeatListing">	Smoked chicken legs	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken tournedos	</a><li>
            <li><a href="~/Product/MeatListing">	Roasted chicken	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken fondue	</a><li>
            <li><a href="~/Product/MeatListing">	Ground chicken	</a><li>
            <li><a href="~/Product/MeatListing">	Ground chicken seasoned patties (6 oz)	</a><li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="seafood">
            <li><a href="~/Product/MeatListing">	Tuna, Sushi grade 1	</a><li>
            <li><a href="~/Product/MeatListing">	Grouper	</a><li>
            <li><a href="~/Product/MeatListing">	Mahi-mahi	</a><li>
            <li><a href="~/Product/MeatListing">	Red snapper	</a><li>
            <li><a href="~/Product/MeatListing">	Ready-made fish kebabs	</a><li>
            <li><a href="~/Product/MeatListing">	Lobster tail	</a><li>
            <li><a href="~/Product/MeatListing">	Smoked salmon	</a><li>
            <li><a href="~/Product/MeatListing">	Hot smoked tuna	</a><li>
            <li><a href="~/Product/MeatListing">	Cold smoked tuna	</a><li>
            <li><a href="~/Product/MeatListing">	Smoked swordfish	</a><li>
            <li><a href="~/Product/MeatListing">	Lion fish	</a><li>
            <li><a href="~/Product/MeatListing">	Barracuda	</a><li>
            <li><a href="~/Product/MeatListing">	Couvalee	</a><li>
            <li><a href="~/Product/MeatListing">	Swordfish	</a><li>
            <li><a href="~/Product/MeatListing">	Lambi	</a><li>
            <li><a href="~/Product/MeatListing">	Shrimps	</a><li>
            <li><a href="~/Product/MeatListing">	Scallops	</a><li>
            <li><a href="~/Product/MeatListing">	Barracuda steak	</a><li>
        </ul>
        <ul id="coldcuts">
            <li><a href="~/Product/MeatListing">	(spicy smoked ham)	</a><li>
            <li><a href="~/Product/MeatListing">	Back bacon	</a><li>
            <li><a href="~/Product/MeatListing">	Bacon	</a><li>
            <li><a href="~/Product/MeatListing">	Black Forest ham	</a><li>
            <li><a href="~/Product/MeatListing">	Bologne	</a><li>
            <li><a href="~/Product/MeatListing">	Capicollo (coppa)	</a><li>
            <li><a href="~/Product/MeatListing">	Cooked ham	</a><li>
            <li><a href="~/Product/MeatListing">	Cooked roast pork	</a><li>
            <li><a href="~/Product/MeatListing">	Dry beef	</a><li>
            <li><a href="~/Product/MeatListing">	Mock chicken	</a><li>
            <li><a href="~/Product/MeatListing">	Montreal-style smoked meat	</a><li>
            <li><a href="~/Product/MeatListing">	Mortadella	</a><li>
            <li><a href="~/Product/MeatListing">	Pancheta	</a><li>
            <li><a href="~/Product/MeatListing">	Pastrami	</a><li>
            <li><a href="~/Product/MeatListing">	Pepperoni	</a><li>
            <li><a href="~/Product/MeatListing">	Roast beef	</a><li>
            <li><a href="~/Product/MeatListing">	Roast chicken	</a><li>
            <li><a href="~/Product/MeatListing">	Salami	</a><li>
            <li><a href="~/Product/MeatListing">	Smoked ham	</a><li>
            <li><a href="~/Product/MeatListing">	Smoked salami	</a><li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="sausage">
            <li><a href="~/Product/MeatListing">	Beef hot-dog	</a><li>
            <li><a href="~/Product/MeatListing">	Capriciosa	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken farmer [breakfast]	</a><li>
            <li><a href="~/Product/MeatListing">	Chicken hot-dog	</a><li>
            <li><a href="~/Product/MeatListing">	Chipolata	</a><li>
            <li><a href="~/Product/MeatListing">	Chorizo	</a><li>
            <li><a href="~/Product/MeatListing">	Dry chorizo	</a><li>
            <li><a href="~/Product/MeatListing">	Dry salami	</a><li>
            <li><a href="~/Product/MeatListing">	Farmer’s [for breakfast]	</a><li>
            <li><a href="~/Product/MeatListing">	Fine herbs	</a><li>
            <li><a href="~/Product/MeatListing">	Ham & Cheese	</a><li>
            <li><a href="~/Product/MeatListing">	Italian mild	</a><li>
            <li><a href="~/Product/MeatListing">	Italian spicy	</a><li>
            <li><a href="~/Product/MeatListing">	Kielbasa	</a><li>
            <li><a href="~/Product/MeatListing">	Knackwurst	</a><li>
            <li><a href="~/Product/MeatListing">	Merguez	</a><li>
            <li><a href="~/Product/MeatListing">	October Fest	</a><li>
            <li><a href="~/Product/MeatListing">	Peperette	</a><li>
            <li><a href="~/Product/MeatListing">	Toulouse	</a><li>
            <li><a href="~/Product/MeatListing">	Veal & Cheese	</a><li>
            <li><a href="~/Product/MeatListing">	Weisswurst (White sausage)	</a><li>
            <li><a href="~/Product/MeatListing">	Whisper Cove	</a><li>
        </ul>
    </div>

    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="pates">
            <li><a href="~/Product/MeatListing">	Pâtés (pork spread)	</a><li>
            <li><a href="~/Product/MeatListing">	(Rillettes, Fine herbs liver pâté, Green pepper liver pâté, Garlic liver pâté, Cognac liver pâté, Campagne, Campagne 3 peppers pâté)	</a><li>
            <li><a href="~/Product/MeatListing">	Cretons	</a><li>
            <li><a href="~/Product/MeatListing">	(Quebec pork spread with a special blend of spices)	</a><li>
            <li><a href="~/Product/MeatListing">	Meat pie (8″ – 20.3 cm)	</a><li>
            <li><a href="~/Product/MeatListing">	Ham quiche (8″ – 20.3 cm)	</a><li>
            <li><a href="~/Product/MeatListing">	Ham quiche (slice)	</a><li>
            <li><a href="~/Product/MeatListing">	Vegetarian quiche (8″ – 20.3 cm)	</a><li>
            <li><a href="~/Product/MeatListing">	Vegetarian quiche (slice)	</a><li>
        </ul>
        <ul id="cheese">
            <li><a href="~/Product/MeatListing">	Blue Cheese	</a><li>
            <li><a href="~/Product/MeatListing">	Champignon	</a><li>
            <li><a href="~/Product/MeatListing">	Cheddar	</a><li>
            <li><a href="~/Product/MeatListing">	Combozola	</a><li>
            <li><a href="~/Product/MeatListing">	Edam	</a><li>
            <li><a href="~/Product/MeatListing">	Epoisse	</a><li>
            <li><a href="~/Product/MeatListing">	Feta (natural)	</a><li>
            <li><a href="~/Product/MeatListing">	Feta mix with peppercorn, herbs, oil	</a><li>
            <li><a href="~/Product/MeatListing">	Mirabo	</a><li>
            <li><a href="~/Product/MeatListing">	Monster	</a><li>
            <li><a href="~/Product/MeatListing">	Mozarella	</a><li>
            <li><a href="~/Product/MeatListing">	Parmesan	</a><li>
            <li><a href="~/Product/MeatListing">	Pepperjack	</a><li>
            <li><a href="~/Product/MeatListing">	Provolone	</a><li>
            <li><a href="~/Product/MeatListing">	Rougette	</a><li>
            <li><a href="~/Product/MeatListing">	Smoked Cheddar	</a><li>
            <li><a href="~/Product/MeatListing">	Smoked Provolone	</a><li>
            <li><a href="~/Product/MeatListing">	Swiss	</a><li>
        </ul>
    </div>

    <div class="col-sm-2">
        <!--Spacer area.sadsa-->
    </div>

</div>