@{
    ViewBag.Title = "Index";
}

<h2>Meat Listings</h2>

<div class="container">

    <table class="table">
        <thead class="top_category">
            <tr>
                <th>Item</th>
                <th>Pick Date</th>
                <th>Product Weight</th>
                <th>Added Bulk Offers</th>
                <th>Delivery/Pick-up</th>
                <th>Interact</th>
            </tr>
        </thead>
        <tbody class="listings_category">
            <tr>
                <td>Tederloin - Aged 2 weeks. <br />Open to bids.</td>
                <td><input class="form-control" id="bid_input " type="text" /> </td>
                <td>1 tonne</td>
                <td>2 tonne for $2000</td>
                <td>March 17th, 2015</td>
                <td><input type="image" src="http://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"></td>
            </tr>
        </tbody>
    </table>

</div>