
@{
    ViewBag.Title = "Produce";
}

<h2>Produce</h2>

<main class="container">
    <section class="row">
        <div class="col-sm-4">
            <a href="~/Product/ProduceCategories"><img src="~/Content/img/basics.jpg" width="300" height="235" /></a>
            <p>Prepared Fruits and Vegetables</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/ProduceCategories"><img src="~/Content/img/roots.jpg" width="300" height="235" /></a>
            <p>Root Vegetables</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/ProduceCategories"><img src="~/Content/img/wildberries.jpg" width="300" height="235" /></a>
            <p>Berries</p>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-4">
            <a href="~/Product/ProduceCategories"><img src="~/Content/img/citrus.jpeg" width="300" height="235" /></a>
            <p>Citrus</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/ProduceCategories"><img src="~/Content/img/aboveearth.jpg" width="300" height="235" /></a>
            <p>Above Earth Vegetables</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Product/ProduceCategories"><img src="~/Content/img/vegetables.jpg" width="300" height="235" /></a>
            <p>Vegetable Mixes</p>
        </div>
    </section>


</main>