
@{
    ViewBag.Title = "Index";
}

<h2>Produce Products: </h2>

<div class="container">
    <div class="col-sm-2">
      
        <ul>
            <li><a href="~/Product/ProduceListing"> Acorn Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Amaranth	</a></li>
            <li><a href="~/Product/ProduceListing">	Arrowroot	</a></li>
            <li><a href="~/Product/ProduceListing">	Artichokes 	</a></li>
            <li><a href="~/Product/ProduceListing">	Asparagus 	</a></li>
            <li><a href="~/Product/ProduceListing">	Banana Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Beets	</a></li>
            <li><a href="~/Product/ProduceListing">	Belgian Endive	</a></li>
            <li><a href="~/Product/ProduceListing">	Belgian Endive	</a></li>
            <li><a href="~/Product/ProduceListing">	Belgian Endive 	</a></li>
            <li><a href="~/Product/ProduceListing">	Bell Peppers	</a></li>
            <li><a href="~/Product/ProduceListing">	Bell Peppers	</a></li>
            <li><a href="~/Product/ProduceListing">	Black Eyed Peas	</a></li>
            <li><a href="~/Product/ProduceListing">	Black Radish	</a></li>
            <li><a href="~/Product/ProduceListing">	Black Salsify	</a></li>
            <li><a href="~/Product/ProduceListing">	Bok Choy	</a></li>
            <li><a href="~/Product/ProduceListing">	Broccoflower	</a></li>
            <li><a href="~/Product/ProduceListing">	Broccoli	</a></li>
            <li><a href="~/Product/ProduceListing">	Broccoli	</a></li>
            <li><a href="~/Product/ProduceListing">	Broccolini	</a></li>
            <li><a href="~/Product/ProduceListing">	Brussels Sprouts	</a></li>
            <li><a href="~/Product/ProduceListing">	Brussels Sprouts	</a></li>
            <li><a href="~/Product/ProduceListing">	Burdock Root	</a></li>
            <li><a href="~/Product/ProduceListing">	Butter Lettuce	</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li><a href="~/Product/ProduceListing">	Butter Lettuce	</a></li>
            <li><a href="~/Product/ProduceListing">	Butter Lettuce	</a></li>
            <li><a href="~/Product/ProduceListing">	Buttercup Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Buttercup Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Butternut Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Cabbage	</a></li>
            <li><a href="~/Product/ProduceListing">	Cactus	</a></li>
            <li><a href="~/Product/ProduceListing">	Carrots	</a></li>
            <li><a href="~/Product/ProduceListing">	Cauliflower	</a></li>
            <li><a href="~/Product/ProduceListing">	Celeriac (Celery Root)	</a></li>
            <li><a href="~/Product/ProduceListing">	Celery	</a></li>
            <li><a href="~/Product/ProduceListing">	Chayote Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Chayote Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Chayote Squash 	</a></li>
            <li><a href="~/Product/ProduceListing">	Cherry Tomatoes	</a></li>
            <li><a href="~/Product/ProduceListing">	Chinese Eggplants	</a></li>
            <li><a href="~/Product/ProduceListing">	Chinese Long Beans	</a></li>
            <li><a href="~/Product/ProduceListing">	Chinese Long Beans	</a></li>
            <li><a href="~/Product/ProduceListing">	Chives	</a></li>
            <li><a href="~/Product/ProduceListing">	Collard Greens	</a></li>
            <li><a href="~/Product/ProduceListing">	Collard Greens	</a></li>
            <li><a href="~/Product/ProduceListing">	Corn	</a></li>
            <li><a href="~/Product/ProduceListing">	Corn	</a></li>
            <li><a href="~/Product/ProduceListing">	Crookneck Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Cucumbers	</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li><a href="~/Product/ProduceListing">	Delicata Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Delicata Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Diakon Radish	</a></li>
            <li><a href="~/Product/ProduceListing">	Eggplant	</a></li>
            <li><a href="~/Product/ProduceListing">	Endive	</a></li>
            <li><a href="~/Product/ProduceListing">	Endive	</a></li>
            <li><a href="~/Product/ProduceListing">	Fava Beans	</a></li>
            <li><a href="~/Product/ProduceListing">	Fennel	</a></li>
            <li><a href="~/Product/ProduceListing">	Fiddlehead Ferns	</a></li>
            <li><a href="~/Product/ProduceListing">	Galangal Root	</a></li>
            <li><a href="~/Product/ProduceListing">	Garlic	</a></li>
            <li><a href="~/Product/ProduceListing">	Garlic	</a></li>
            <li><a href="~/Product/ProduceListing">	Ginger	</a></li>
            <li><a href="~/Product/ProduceListing">	Green Beans	</a></li>
            <li><a href="~/Product/ProduceListing">	Green Beans	</a></li>
            <li><a href="~/Product/ProduceListing">	Green Soybeans (Edamame)	</a></li>
            <li><a href="~/Product/ProduceListing">	Jalapeno Peppers	</a></li>
            <li><a href="~/Product/ProduceListing">	Jalapeno Peppers	</a></li>
            <li><a href="~/Product/ProduceListing">	Jerusalem Artichoke	</a></li>
            <li><a href="~/Product/ProduceListing">	Kale	</a></li>
            <li><a href="~/Product/ProduceListing">	Kohlrabi	</a></li>
            <li><a href="~/Product/ProduceListing">	Leek	</a></li>
            <li><a href="~/Product/ProduceListing">	Leeks	</a></li>
            <li><a href="~/Product/ProduceListing">	Lettuce	</a></li>
            <li><a href="~/Product/ProduceListing">	Lima Beans	</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li><a href="~/Product/ProduceListing">	Manoa Lettuce	</a></li>
            <li><a href="~/Product/ProduceListing">	Manoa Lettuce	</a></li>
            <li><a href="~/Product/ProduceListing">	Morel Mushrooms	</a></li>
            <li><a href="~/Product/ProduceListing">	Mushrooms	</a></li>
            <li><a href="~/Product/ProduceListing">	Mustard Greens	</a></li>
            <li><a href="~/Product/ProduceListing">	Okra	</a></li>
            <li><a href="~/Product/ProduceListing">	Olives	</a></li>
            <li><a href="~/Product/ProduceListing">	Onions	</a></li>
            <li><a href="~/Product/ProduceListing">	Parsnips	</a></li>
            <li><a href="~/Product/ProduceListing">	Pea Pods	</a></li>
            <li><a href="~/Product/ProduceListing">	Pearl Onions	</a></li>
            <li><a href="~/Product/ProduceListing">	Peas	</a></li>
            <li><a href="~/Product/ProduceListing">	Peas	</a></li>
            <li><a href="~/Product/ProduceListing">	Potatoes	</a></li>
            <li><a href="~/Product/ProduceListing">	Pumpkin	</a></li>
            <li><a href="~/Product/ProduceListing">	Purple Asparagus	</a></li>
            <li><a href="~/Product/ProduceListing">	Radicchio	</a></li>
            <li><a href="~/Product/ProduceListing">	Radicchio	</a></li>
            <li><a href="~/Product/ProduceListing">	Radishes	</a></li>
            <li><a href="~/Product/ProduceListing">	Ramps	</a></li>
            <li><a href="~/Product/ProduceListing">	Red Leaf Lettuce	</a></li>
            <li><a href="~/Product/ProduceListing">	Rhubarb 	</a></li>
            <li><a href="~/Product/ProduceListing">	Rutabagas	</a></li>
            <li><a href="~/Product/ProduceListing">	Salad Savoy	</a></li>
            <li><a href="~/Product/ProduceListing">	Shallots	</a></li>
        </ul>
    </div>

    <div class="col-sm-2">
        <br /><br /><br />
        <ul>
            <li><a href="~/Product/ProduceListing">	Snow Peas	</a></li>
            <li><a href="~/Product/ProduceListing">	Snow Peas	</a></li>
            <li><a href="~/Product/ProduceListing">	Sorrel	</a></li>
            <li><a href="~/Product/ProduceListing">	Spinach	</a></li>
            <li><a href="~/Product/ProduceListing">	Spring Baby Lettuce	</a></li>
            <li><a href="~/Product/ProduceListing">	Sugar Snap Peas	</a></li>
            <li><a href="~/Product/ProduceListing">	Summer Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Sweet Dumpling Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Sweet Dumpling Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Sweet Potatoes	</a></li>
            <li><a href="~/Product/ProduceListing">	Sweet Potatoes	</a></li>
            <li><a href="~/Product/ProduceListing">	Swiss Chard	</a></li>
            <li><a href="~/Product/ProduceListing">	Swiss Chard	</a></li>
            <li><a href="~/Product/ProduceListing">	Tomatillo	</a></li>
            <li><a href="~/Product/ProduceListing">	Tomatoes	</a></li>
            <li><a href="~/Product/ProduceListing">	Turnips	</a></li>
            <li><a href="~/Product/ProduceListing">	Turnips	</a></li>
            <li><a href="~/Product/ProduceListing">	Vidalia Onions	</a></li>
            <li><a href="~/Product/ProduceListing">	Wasabi Root	</a></li>
            <li><a href="~/Product/ProduceListing">	Watercress	</a></li>
            <li><a href="~/Product/ProduceListing">	Winged Beans	</a></li>
            <li><a href="~/Product/ProduceListing">	Winter Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Winter Squash	</a></li>
            <li><a href="~/Product/ProduceListing">	Yukon Gold Potatoes	</a></li>
            <li><a href="~/Product/ProduceListing">	Zucchini	</a></li>
        </ul>
    </div>

    <div class="col-sm-2">
        <!--Spacer area.sadsa-->
    </div>
</div>